@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
  
</style>
<div class="text-center VM_RoundedCornersBlue">
@*     <h1 class="display-4">Welcome</h1> *@
    <div class="text-center VM_RoundedCornersGreen"><h1><img src="/Images/baby.png" />...new "AIR"-deas ?</h1>   ...lets <del>Talk</del> <strong>"FUSS"</strong> About it !!!        ....<a class="btn btn-warning">  Get Started </a><hr />
        Not one size fits all, rather ... <h4>Tailor made software solutions geared towards ROI and growth    </h4>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-3 row"></div>

        <div class="col-md-3 row">Air Solutions@* <img src="/Images/air.png" height="50"/> *@<hr /><img src="/Images/AirForce.png" /></div>
        <div class="col-md-3 row">Financial/Payment Solutions<hr /><img src="/Images/money.png" /></div>
        <div class="col-md-3 row">Hardware<hr /><img src="/Images/laptop.png" /></div>
    </div>
    <!-- Fixed background image -->
    <div class="col-md-12 row">
    
        <div class="col-md-12   VM_RoundedCornersBlue"><div class="fixed-bg"></div>"</div>
    </div>
    <!-- Scrollable content section -->
    <div class="content VM_RoundedCornersGreen">
        <h1>Welcome to My Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel nunc nec nisl interdum consectetur. Nam vehicula odio ut suscipit auctor. Proin at tortor id orci tincidunt convallis. Donec at urna eu metus posuere venenatis vel vel velit.</p>
        <p>Vivamus tincidunt ligula in neque molestie, non ultricies velit congue. Integer vel hendrerit urna. Phasellus facilisis, sem eu efficitur iaculis, risus lorem pharetra justo, sit amet aliquam odio ex non enim. Suspendisse potenti. Integer ac vestibulum dolor.</p>
        <p>Donec vel ultrices magna. Cras convallis nec arcu ac cursus. Nullam efficitur orci sed metus iaculis malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut turpis nec ligula eleifend bibendum at id urna.</p>
        <p>Scroll down to see the effect in action!</p>
    </div>
    <!-- Fixed background image -->
    <div class="fixed-bg2 VM_RoundedCornersGreen"></div>

    <!-- Scrollable content section -->
    <div class="content VM_RoundedCornersGreen">
        <h1>Welcome to My Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel nunc nec nisl interdum consectetur. Nam vehicula odio ut suscipit auctor. Proin at tortor id orci tincidunt convallis. Donec at urna eu metus posuere venenatis vel vel velit.</p>
        <p>Vivamus tincidunt ligula in neque molestie, non ultricies velit congue. Integer vel hendrerit urna. Phasellus facilisis, sem eu efficitur iaculis, risus lorem pharetra justo, sit amet aliquam odio ex non enim. Suspendisse potenti. Integer ac vestibulum dolor.</p>
        <p>Donec vel ultrices magna. Cras convallis nec arcu ac cursus. Nullam efficitur orci sed metus iaculis malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut turpis nec ligula eleifend bibendum at id urna.</p>
        <p>Scroll down to see the effect in action!</p>
    </div>
 </div>
<div class="fixed-bg3 VM_RoundedCornersBlue"></div>

<!-- Scrollable content section -->
<div class="content VM_RoundedCornersGreen">
    <h1>Welcome to My Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel nunc nec nisl interdum consectetur. Nam vehicula odio ut suscipit auctor. Proin at tortor id orci tincidunt convallis. Donec at urna eu metus posuere venenatis vel vel velit.</p>
    <p>Vivamus tincidunt ligula in neque molestie, non ultricies velit congue. Integer vel hendrerit urna. Phasellus facilisis, sem eu efficitur iaculis, risus lorem pharetra justo, sit amet aliquam odio ex non enim. Suspendisse potenti. Integer ac vestibulum dolor.</p>
    <p>Donec vel ultrices magna. Cras convallis nec arcu ac cursus. Nullam efficitur orci sed metus iaculis malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut turpis nec ligula eleifend bibendum at id urna.</p>
    <p>Scroll down to see the effect in action!</p>
</div>
 
